<div class="blog-sidebar col-sm-3 col-sm-offset-1">
    <div class="sidebar-module sidebar-module-inset">
        <h4>Tags</h4>
        <ul class="list-unstyled blog-tags-list">
        {% for tag in site.tags %}
            <li class="blog-tag-item"><a href="/blog/#{{ tag[0] | remove: ' ' }}">{{ tag[0] }}</a></li>
        {% endfor %}
        </ul>
        <p>
            <a href="/blog/">Show all posts</a>
        </p>
    </div>

    <div class="sidebar-module">
        <h4>Share</h4>
        <ol class="list-unstyled">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
        </ol>
    </div>

    <div class="sidebar-module">
        <h4>Search</h4>
        <form action="https://www.google.com/search" method="GET" target="_blank">
            <div class="form-group">
                <input type="text" class="form-control" id="search-box-input" name="q" placeholder="Search...">
                <input type="hidden"  name="sitesearch" value="vaclavdedik.com/blog/" checked>
            </div>
            <button type="submit" class="btn btn-primary">Google Search</button>
        </form>
    </div>
</div>
