<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Vaclav Dedik">

        <title>{{ page.title }}</title>

        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- Icons -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Custom JS -->
        <script src="/js/main.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-65776326-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    {% assign curr_url = page.url | remove: "index.html" %}
    <body {% if curr_url == '/blog/' %}onhashchange="load_blog_posts(10)" onload="load_blog_posts(10)"{% endif %}>
        <div class="wrapper">
            <!-- Navigator bar -->
            <div class="blog-masthead">
                <div class="container">
                    <nav class="blog-nav">
                    {% for link in site.navigation %}
                        <a class="blog-nav-item {%if curr_url == link.url or page.nav_group == link.url%}active{%endif%} {%if link.url == '/blog/'%}disabled{%endif%}" href="{{link.url}}">{{link.text}}</a>
                    {% endfor %}
                    </nav>
                </div>
            </div>

            <div class="container">
                {{ content }}
            </div> <!-- /container -->
        </div>

        <footer class="blog-footer">
            <p class="text-muted credit">©2013–2015 Václav Dedík. See <a href="https://github.com/VaclavDedik/vaclavdedik.github.io/blob/master/LICENSE.md" target="_blank">license</a>&nbsp;<img id="license-logo" src="/img/cc-by.png"></p>
            <p><a class="pointer" onclick="$('html,body').scrollTop(0);" data-proofer-ignore>Back to top</a></p>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery-1.11.3.min.js"></script>

        <!-- Bootstrap JS-->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
