---
layout: default
---
<div class="blog-header">
    <h1 class="blog-title">Václav Dedík's Blog</h1>
    <p class="lead blog-description">...about computer science, machine learning &amp; everything...</p>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        <hr>
        <div class="blog-post">
            <h2 class="blog-post-title">{{ page.title }}</h2>
            <p class="blog-post-meta">{{ page.date | date_to_string }}</p>

            <div class="content">
                {{ content }}
            </div>

            <div class="tags">
                <ul class="list-unstyled blog-tags-list">
                {% for tag in page.tags %}
                    <li class="blog-tag-item tag-{{ tag | remove: ' ' }}"><a href="/blog/#{{ tag | remove: ' ' }}">{{ tag }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% include blog-sidebar.html %}
</div>

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
    this.page.identifier = "{{ page.url }}";
};
(function() {
    var d = document, s = d.createElement('script');
    s.src = '//vaclavdedik.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
